@import '../../colors';
@import '../../mixins';

.rootContainer {
    background-color: $color-primary-ultra-light;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include belowTabletAndSmallLaptops {
            flex-direction: column;
            align-items: unset;
        }

        .primaryHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 42;
            }

            a {
                display: flex;
            }

            @include belowTabletAndSmallLaptops {
                display: flex;
            }

            .logo {
                height: 60px;
                margin: 1em 0;
            }

            .mobileMenuButton {
                display: none;

                @include belowTabletAndSmallLaptops {
                    display: flex;
                }
            }
        }

        .links {
            display: flex;

            @include belowTabletAndSmallLaptops {
                flex-direction: column;
                margin: 0;
            }

            a {
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                display: flex;
                align-items: center;

            }

            a:hover:not(.active) {
                color: $color-accent;
            }

            .active {
                color: $color-accent;
            }

            .active:hover {
                color: $color-accent-dark;
            }
        }

        .openMobileMenu {
            @include belowTabletAndSmallLaptops {
                display: flex;
                align-items: center;
                padding: 0 0 1em 0;
            }
        }

        .closeMobileMenu {
            @include belowTabletAndSmallLaptops {
                display: none;
            }
        }
    }
}