@import '../../colors';
@import '../../mixins';

.rootContainer {
    background-color: $color-primary-ultra-light;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include belowTabletAndSmallLaptops {
            flex-direction: column;
            align-items: unset;
        }

        .primaryHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                max-width: 100%;
                width: auto;
                height: auto;
            }

            a {
                display: flex;
            }

            @include belowTabletAndSmallLaptops {
                display: flex;
            }

            .logo {
                height: 60px;
                margin: 1em 0;
            }

            .mobileMenuButton {
                display: none;

                @include belowTabletAndSmallLaptops {
                    display: flex;
                }
            }
        }

        .links {
            display: flex;
            gap: 2em;

            @include belowTabletAndSmallLaptops {
                flex-direction: column;
                margin: 0;
            }

            a {
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                display: flex;
                align-items: center;
            }

            .githubIcon {
                margin-right: 1em;
            }

            .active {
                color: $color-accent;
            }
        }

        .openMobileMenu {
            @include belowTabletAndSmallLaptops {
                display: flex;
                gap: 0;
                align-items: center;
                padding: 0 0 1em 0;
            }

            .githubIcon {
                margin: 0.5em;
            }
        }

        .closeMobileMenu {
            @include belowTabletAndSmallLaptops {
                display: none;
            }
        }
    }
}