@import '@/styles/colors';
@import '@/styles/mixins';

.container {
    display: flex;
    gap: 3em;

    .titleContainer {
        display: flex;
        align-items: center;
        gap: 2em;

        .profilePictureImage {
            width: auto;
            max-height: 64px;
            border-radius: 100%;
        }
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex: 5;

        p {
            font-size: 16px;
            color: $color-primary-light;
        }

        .description {
            margin-bottom: 2em;
        }

        .websiteContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
        }
    }

    .phoneProjectListContainer {
        display: none;

        margin: 3em 0;

        @include belowPhone {
            display: block;
        }

        @include betweenPhoneAndTabletPortrait {
            display: block;
        }
    }

    .projectListContainer {
        flex: 6;

        @include belowPhone {
            display: none;
        }

        @include betweenPhoneAndTabletPortrait {
            display: none;
        }
    }
}