@import '@/styles/colors';
@import '@/styles/mixins';

.container {
    display: flex;
    gap: 3em;

    .titleContainer {
        display: flex;
        align-items: center;
        gap: 1em;

        img {
            border-radius: 16%;
        }
    }

    .infoContainer {
        flex: 5;

        p {
            font-size: 16px;
            color: $color-primary-light;
        }

        .storeContainer {
            display: flex;
            align-items: center;
            gap: 1em;
            margin: 2em 0;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .phoneScreenshotContainer {
        display: none;
        margin: 3em 0;

        @include belowPhone {
            display: block;
        }

        @include betweenPhoneAndTabletPortrait {
            display: block;
        }

        @include betweenTabletPortraitAndSmallLaptop {
            display: block;
        }
    }

    .screenshotContainer {
        flex: 6;

        @include belowPhone {
            display: none;
        }

        @include betweenPhoneAndTabletPortrait {
            display: none;
        }

        @include betweenTabletPortraitAndSmallLaptop {
            display: none;
        }
    }
}