@import '@/styles/colors';

.container {
    display: flex;

    .titleContainer {
        display: flex;
        align-items: center;
        gap: 1em;

        img {
            border-radius: 0.25em;
        }
    }

    .infoContainer {
        width: 100%;

        p {
            font-size: 16px;
            color: $color-primary-light;
        }

        .storeContainer {
            display: flex;
            align-items: center;
            gap: 1em;
            margin: 2em 0;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .screenshotContainer {
        width: 60%;
        display: none;
    }
}