$color-primary: black;
$color-primary-light: #767676;
$color-primary-ultra-light: #F2F2F2;
$color-accent: #FF0F21;
$color-belgian-1: #333333;
$color-belgian-2: #FFE936;
$color-belgian-3: #FF0F21;

$color-accent-dark: rgba($color-accent, 0.88);
$color-accent-light: rgba($color-accent, 0.5);
$color-text: $color-primary;
$color-text-secondary: $color-primary-light;
$color-text-inverted: white;
$color-text-hover: grey;
$color-background: white;
$color-background-secondary: #eaeaea;
$color-background-card: #d8d8d8;
$color-background-inverted: black;
$color-separator: rgba(128, 128, 128, 0.5);

$button-border-radius: 10px;
